In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Read all CSV files
df1 = pd.read_csv('prevalence-of-anxiety-disorders-males-vs-females.csv') 
df2 = pd.read_csv('prevalence-of-bipolar-disorder-in-males-vs-females.csv')
df3 = pd.read_csv('prevalence-of-depression-males-vs-females.csv')
df4 = pd.read_csv('prevalence-of-eating-disorders-in-males-vs-females.csv')
df5 = pd.read_csv('prevalence-of-schizophrenia-in-males-vs-females(1).csv')

In [3]:
# See basic info of all 5 df
df1.info()
df2.info()
df3.info()
df4.info()
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56395 entries, 0 to 56394
Data columns (total 8 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   index                                                                           56395 non-null  int64
 1   Entity                                                                          56395 non-null  object
 2   Code                                                                            54079 non-null  object
 3   Year                                                                            56395 non-null  int64
 4   Prevalence - Anxiety disorders - Sex: Male - Age: Age-standardized (Percent)    6840 non-null   float64
 5   Prevalence - Anxiety disorders - Sex: Female - Age: Age-standardized (Percent)  6840 non-null   float64
 6   Population (historical estimates)                                               55656 non-null  float64
 7   Continent                                                                       285 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56395 entries, 0 to 56394
Data columns (total 8 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   index                                                                          56395 non-null  int64
 1   Entity                                                                         56395 non-null  object
 2   Code                                                                           54079 non-null  object
 3   Year                                                                           56395 non-null  int64
 4   Prevalence - Bipolar disorder - Sex: Male - Age: Age-standardized (Percent)    6840 non-null   float64
 5   Prevalence - Bipolar disorder - Sex: Female - Age: Age-standardized (Percent)  6840 non-null   float64
 6   Population (historical estimates)                                              55656 non-null  float64
 7   Continent                                                                      285 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56395 entries, 0 to 56394
Data columns (total 8 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   index                                                                              56395 non-null  int64
 1   Entity                                                                             56395 non-null  object
 2   Code                                                                               54079 non-null  object
 3   Year                                                                               56395 non-null  int64
 4   Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)    6840 non-null   float64
 5   Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)  6840 non-null   float64
 6   Population (historical estimates)                                                  55656 non-null  float64
 7   Continent                                                                          285 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56395 entries, 0 to 56394
Data columns (total 8 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   index                                                                          56395 non-null  int64
 1   Entity                                                                         56395 non-null  object
 2   Code                                                                           54079 non-null  object
 3   Year                                                                           56395 non-null  int64
 4   Prevalence - Eating disorders - Sex: Male - Age: Age-standardized (Percent)    6840 non-null   float64
 5   Prevalence - Eating disorders - Sex: Female - Age: Age-standardized (Percent)  6840 non-null   float64
 6   Population (historical estimates)                                              55656 non-null  float64
 7   Continent                                                                      285 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56395 entries, 0 to 56394
Data columns (total 8 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   index                                                                       56395 non-null  int64
 1   Entity                                                                      56395 non-null  object
 2   Code                                                                        54079 non-null  object
 3   Year                                                                        56395 non-null  int64
 4   Prevalence - Schizophrenia - Sex: Male - Age: Age-standardized (Percent)    6840 non-null   float64
 5   Prevalence - Schizophrenia - Sex: Female - Age: Age-standardized (Percent)  6840 non-null   float64
 6   Population (historical estimates)                                           55656 non-null  float64
 7   Continent                                                                   285 non-null    object
dtypes: float64(3), int64(2), object(3)
memory usage: 3.4+ MB

In [4]:
# To see first several rows of each
df1.head()

,index,Entity,Code,Year,Prevalence - Anxiety disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,1,Afghanistan,AFG,1990,3.556843,5.971172,12412311.0,NaN
2,2,Afghanistan,AFG,1991,3.548885,5.980482,13299016.0,NaN
3,3,Afghanistan,AFG,1992,3.542779,5.988175,14485543.0,NaN
4,4,Afghanistan,AFG,1993,3.538304,5.993858,15816601.0,NaN

In [5]:
df2.head()

,index,Entity,Code,Year,Prevalence - Bipolar disorder - Sex: Male - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,1,Afghanistan,AFG,1990,0.675452,0.762342,12412311.0,NaN
2,2,Afghanistan,AFG,1991,0.674992,0.762142,13299016.0,NaN
3,3,Afghanistan,AFG,1992,0.674579,0.761958,14485543.0,NaN
4,4,Afghanistan,AFG,1993,0.674206,0.761774,15816601.0,NaN

In [6]:
df3.head()

,index,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NaN
2,2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NaN
3,3,Afghanistan,AFG,1992,4.298265,5.850020,14485543.0,NaN
4,4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NaN

In [7]:
df4.head()

,index,Entity,Code,Year,Prevalence - Eating disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,1,Afghanistan,AFG,1990,0.091421,0.164942,12412311.0,NaN
2,2,Afghanistan,AFG,1991,0.088841,0.159850,13299016.0,NaN
3,3,Afghanistan,AFG,1992,0.086286,0.155230,14485543.0,NaN
4,4,Afghanistan,AFG,1993,0.084179,0.150636,15816601.0,NaN

In [8]:
df5.head()

,index,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Male - Age: Age-standardized (Percent),Prevalence - Schizophrenia - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,1,Afghanistan,AFG,1990,0.244067,0.216095,12412311.0,NaN
2,2,Afghanistan,AFG,1991,0.243220,0.215034,13299016.0,NaN
3,3,Afghanistan,AFG,1992,0.242345,0.213969,14485543.0,NaN
4,4,Afghanistan,AFG,1993,0.241464,0.212914,15816601.0,NaN

In [9]:
# Check for missing values for df1
missing_values = df1.isnull().sum()
missing_values_per_column = df1.isnull().sum(axis=0)
missing_values_per_row = df1.isnull().sum(axis=1)
print(missing_values)

index                                                                                 0
Entity                                                                                0
Code                                                                               2316
Year                                                                                  0
Prevalence - Anxiety disorders - Sex: Male - Age: Age-standardized (Percent)      49555
Prevalence - Anxiety disorders - Sex: Female - Age: Age-standardized (Percent)    49555
Population (historical estimates)                                                   739
Continent                                                                         56110
dtype: int64

In [10]:
# Check for missing values for df2
missing_values2 = df2.isnull().sum()
missing_values_per_column2 = df2.isnull().sum(axis=0)
missing_values_per_row2 = df2.isnull().sum(axis=1)
print(missing_values2)

index                                                                                0
Entity                                                                               0
Code                                                                              2316
Year                                                                                 0
Prevalence - Bipolar disorder - Sex: Male - Age: Age-standardized (Percent)      49555
Prevalence - Bipolar disorder - Sex: Female - Age: Age-standardized (Percent)    49555
Population (historical estimates)                                                  739
Continent                                                                        56110
dtype: int64

In [11]:
# Check for missing values for df3
missing_values3 = df3.isnull().sum()
missing_values_per_column3 = df3.isnull().sum(axis=0)
missing_values_per_row3 = df3.isnull().sum(axis=1)
print(missing_values3)

index                                                                                    0
Entity                                                                                   0
Code                                                                                  2316
Year                                                                                     0
Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)      49555
Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)    49555
Population (historical estimates)                                                      739
Continent                                                                            56110
dtype: int64

In [12]:
# Check for missing values for df4
missing_values4 = df4.isnull().sum()
missing_values_per_column4 = df4.isnull().sum(axis=0)
missing_values_per_row4 = df4.isnull().sum(axis=1)
print(missing_values4)

index                                                                                0
Entity                                                                               0
Code                                                                              2316
Year                                                                                 0
Prevalence - Eating disorders - Sex: Male - Age: Age-standardized (Percent)      49555
Prevalence - Eating disorders - Sex: Female - Age: Age-standardized (Percent)    49555
Population (historical estimates)                                                  739
Continent                                                                        56110
dtype: int64

In [13]:
# Check for missing values for df5
missing_values5 = df5.isnull().sum()
missing_values_per_column5 = df5.isnull().sum(axis=0)
missing_values_per_row5 = df5.isnull().sum(axis=1)
print(missing_values5)

index                                                                             0
Entity                                                                            0
Code                                                                           2316
Year                                                                              0
Prevalence - Schizophrenia - Sex: Male - Age: Age-standardized (Percent)      49555
Prevalence - Schizophrenia - Sex: Female - Age: Age-standardized (Percent)    49555
Population (historical estimates)                                               739
Continent                                                                     56110
dtype: int64

All have the exact same numbers so I will make the assumption that all df were made and designed the same way.

In [14]:
# fill in all missing values
df1_cleaned = df1.fillna('NA')

In [17]:
df1_cleaned.head()

,index,Entity,Code,Year,Prevalence - Anxiety disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NA,NA,NA,Asia
1,1,Afghanistan,AFG,1990,3.556843,5.971172,12412311.0,NA
2,2,Afghanistan,AFG,1991,3.548885,5.980482,13299016.0,NA
3,3,Afghanistan,AFG,1992,3.542779,5.988175,14485543.0,NA
4,4,Afghanistan,AFG,1993,3.538304,5.993858,15816601.0,NA

In [18]:
df2_cleaned = df2.fillna('NA')
df3_cleaned = df3.fillna('NA')
df4_cleaned = df4.fillna('NA')
df5_cleaned = df5.fillna('NA')

In [47]:
# Rename columns for easier readabililty
new_columns = {'Entity':'Country', 'Prevalence - Anxiety disorders - Sex: Male - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Anxiety disorders(M))', 'Prevalence - Anxiety disorders - Sex: Female - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Anxiety disorders(F))'}
df1_renamed = df1_cleaned.rename(columns=new_columns)

In [48]:
df1_renamed.head()

,index,Country,Code,Year,Percentage of Prevalence (Anxiety disorders(M)),Percentage of Prevalence (Anxiety disorders(F)),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NA,NA,NA,Asia
1,1,Afghanistan,AFG,1990,3.556843,5.971172,12412311.0,NA
2,2,Afghanistan,AFG,1991,3.548885,5.980482,13299016.0,NA
3,3,Afghanistan,AFG,1992,3.542779,5.988175,14485543.0,NA
4,4,Afghanistan,AFG,1993,3.538304,5.993858,15816601.0,NA

In [49]:
new_columns2 = {'Entity':'Country', 'Prevalence - Bipolar disorder - Sex: Male - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Bipolar Disorders(M))', 'Prevalence - Bipolar disorder - Sex: Female - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Bipolar Disorders(F))'}
df2_renamed = df2_cleaned.rename(columns=new_columns2)

In [50]:
df2_renamed.head()

,index,Country,Code,Year,Percentage of Prevalence (Bipolar Disorders(M)),Percentage of Prevalence (Bipolar Disorders(F)),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NA,NA,NA,Asia
1,1,Afghanistan,AFG,1990,0.675452,0.762342,12412311.0,NA
2,2,Afghanistan,AFG,1991,0.674992,0.762142,13299016.0,NA
3,3,Afghanistan,AFG,1992,0.674579,0.761958,14485543.0,NA
4,4,Afghanistan,AFG,1993,0.674206,0.761774,15816601.0,NA

In [51]:
new_columns3 = {'Entity':'Country', 'Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Depressive disorders(M))', 'Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Depressive disorders(F))'}
df3_renamed = df3_cleaned.rename(columns=new_columns3)

In [52]:
df3_renamed.head()

,index,Country,Code,Year,Percentage of Prevalence (Depressive disorders(M)),Percentage of Prevalence (Depressive disorders(F)),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NA,NA,NA,Asia
1,1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NA
2,2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NA
3,3,Afghanistan,AFG,1992,4.298265,5.85002,14485543.0,NA
4,4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NA

In [53]:
new_columns4 = {'Entity':'Country', 'Prevalence - Eating disorders - Sex: Male - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Eating disorders(M))', 'Prevalence - Eating disorders - Sex: Female - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Eating disorders(F))'}
df4_renamed = df4_cleaned.rename(columns=new_columns4)

In [54]:
df4_renamed.head()

,index,Country,Code,Year,Percentage of Prevalence (Eating disorders(M)),Percentage of Prevalence (Eating disorders(F)),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NA,NA,NA,Asia
1,1,Afghanistan,AFG,1990,0.091421,0.164942,12412311.0,NA
2,2,Afghanistan,AFG,1991,0.088841,0.15985,13299016.0,NA
3,3,Afghanistan,AFG,1992,0.086286,0.15523,14485543.0,NA
4,4,Afghanistan,AFG,1993,0.084179,0.150636,15816601.0,NA

In [55]:
new_columns5 = {'Entity':'Country', 'Prevalence - Schizophrenia - Sex: Male - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Schizophrenia(M))', 'Prevalence - Schizophrenia - Sex: Female - Age: Age-standardized (Percent)': 'Percentage of Prevalence (Schizophrenia(F))'}
df5_renamed = df5_cleaned.rename(columns=new_columns5)

In [56]:
df5_renamed.head()

,index,Country,Code,Year,Percentage of Prevalence (Schizophrenia(M)),Percentage of Prevalence (Schizophrenia(F)),Population (historical estimates),Continent
0,0,Abkhazia,OWID_ABK,2015,NA,NA,NA,Asia
1,1,Afghanistan,AFG,1990,0.244067,0.216095,12412311.0,NA
2,2,Afghanistan,AFG,1991,0.24322,0.215034,13299016.0,NA
3,3,Afghanistan,AFG,1992,0.242345,0.213969,14485543.0,NA
4,4,Afghanistan,AFG,1993,0.241464,0.212914,15816601.0,NA

In [57]:
# Keep cleaning by getting rid of first row
df1_without_first_row = df1_renamed.drop(0)
df1_without_first_row.head()

,index,Country,Code,Year,Percentage of Prevalence (Anxiety disorders(M)),Percentage of Prevalence (Anxiety disorders(F)),Population (historical estimates),Continent
1,1,Afghanistan,AFG,1990,3.556843,5.971172,12412311.0,NA
2,2,Afghanistan,AFG,1991,3.548885,5.980482,13299016.0,NA
3,3,Afghanistan,AFG,1992,3.542779,5.988175,14485543.0,NA
4,4,Afghanistan,AFG,1993,3.538304,5.993858,15816601.0,NA
5,5,Afghanistan,AFG,1994,3.535309,5.997363,17075728.0,NA

In [58]:
df2_without_first_row = df2_renamed.drop(0)
df2_without_first_row.head()

,index,Country,Code,Year,Percentage of Prevalence (Bipolar Disorders(M)),Percentage of Prevalence (Bipolar Disorders(F)),Population (historical estimates),Continent
1,1,Afghanistan,AFG,1990,0.675452,0.762342,12412311.0,NA
2,2,Afghanistan,AFG,1991,0.674992,0.762142,13299016.0,NA
3,3,Afghanistan,AFG,1992,0.674579,0.761958,14485543.0,NA
4,4,Afghanistan,AFG,1993,0.674206,0.761774,15816601.0,NA
5,5,Afghanistan,AFG,1994,0.673876,0.761599,17075728.0,NA

In [59]:
df3_without_first_row = df3_renamed.drop(0)
df3_without_first_row.head()

,index,Country,Code,Year,Percentage of Prevalence (Depressive disorders(M)),Percentage of Prevalence (Depressive disorders(F)),Population (historical estimates),Continent
1,1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NA
2,2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NA
3,3,Afghanistan,AFG,1992,4.298265,5.85002,14485543.0,NA
4,4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NA
5,5,Afghanistan,AFG,1994,4.306053,5.843623,17075728.0,NA

In [60]:
df4_without_first_row = df4_renamed.drop(0)
df4_without_first_row.head()

,index,Country,Code,Year,Percentage of Prevalence (Eating disorders(M)),Percentage of Prevalence (Eating disorders(F)),Population (historical estimates),Continent
1,1,Afghanistan,AFG,1990,0.091421,0.164942,12412311.0,NA
2,2,Afghanistan,AFG,1991,0.088841,0.15985,13299016.0,NA
3,3,Afghanistan,AFG,1992,0.086286,0.15523,14485543.0,NA
4,4,Afghanistan,AFG,1993,0.084179,0.150636,15816601.0,NA
5,5,Afghanistan,AFG,1994,0.081881,0.146573,17075728.0,NA

In [61]:
df5_without_first_row = df5_renamed.drop(0)
df5_without_first_row.head()

,index,Country,Code,Year,Percentage of Prevalence (Schizophrenia(M)),Percentage of Prevalence (Schizophrenia(F)),Population (historical estimates),Continent
1,1,Afghanistan,AFG,1990,0.244067,0.216095,12412311.0,NA
2,2,Afghanistan,AFG,1991,0.24322,0.215034,13299016.0,NA
3,3,Afghanistan,AFG,1992,0.242345,0.213969,14485543.0,NA
4,4,Afghanistan,AFG,1993,0.241464,0.212914,15816601.0,NA
5,5,Afghanistan,AFG,1994,0.240599,0.211887,17075728.0,NA

In [65]:
# Since the continent column is missing from almost the indexes instead of keeping it I will just drop it all together to make it cleaner
df1_new = df1_without_first_row.drop(columns=['Continent'])

In [66]:
df1_new.head()

,index,Country,Code,Year,Percentage of Prevalence (Anxiety disorders(M)),Percentage of Prevalence (Anxiety disorders(F)),Population (historical estimates)
1,1,Afghanistan,AFG,1990,3.556843,5.971172,12412311.0
2,2,Afghanistan,AFG,1991,3.548885,5.980482,13299016.0
3,3,Afghanistan,AFG,1992,3.542779,5.988175,14485543.0
4,4,Afghanistan,AFG,1993,3.538304,5.993858,15816601.0
5,5,Afghanistan,AFG,1994,3.535309,5.997363,17075728.0

In [67]:
df2_new = df2_without_first_row.drop(columns=['Continent'])
df2_new.head()

,index,Country,Code,Year,Percentage of Prevalence (Bipolar Disorders(M)),Percentage of Prevalence (Bipolar Disorders(F)),Population (historical estimates)
1,1,Afghanistan,AFG,1990,0.675452,0.762342,12412311.0
2,2,Afghanistan,AFG,1991,0.674992,0.762142,13299016.0
3,3,Afghanistan,AFG,1992,0.674579,0.761958,14485543.0
4,4,Afghanistan,AFG,1993,0.674206,0.761774,15816601.0
5,5,Afghanistan,AFG,1994,0.673876,0.761599,17075728.0

In [68]:
df3_new = df3_without_first_row.drop(columns=['Continent'])
df3_new.head()

,index,Country,Code,Year,Percentage of Prevalence (Depressive disorders(M)),Percentage of Prevalence (Depressive disorders(F)),Population (historical estimates)
1,1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0
2,2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0
3,3,Afghanistan,AFG,1992,4.298265,5.85002,14485543.0
4,4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0
5,5,Afghanistan,AFG,1994,4.306053,5.843623,17075728.0

In [69]:
df4_new = df4_without_first_row.drop(columns=['Continent'])
df4_new.head()

,index,Country,Code,Year,Percentage of Prevalence (Eating disorders(M)),Percentage of Prevalence (Eating disorders(F)),Population (historical estimates)
1,1,Afghanistan,AFG,1990,0.091421,0.164942,12412311.0
2,2,Afghanistan,AFG,1991,0.088841,0.15985,13299016.0
3,3,Afghanistan,AFG,1992,0.086286,0.15523,14485543.0
4,4,Afghanistan,AFG,1993,0.084179,0.150636,15816601.0
5,5,Afghanistan,AFG,1994,0.081881,0.146573,17075728.0

In [70]:
df5_new = df5_without_first_row.drop(columns=['Continent'])
df5_new.head()

,index,Country,Code,Year,Percentage of Prevalence (Schizophrenia(M)),Percentage of Prevalence (Schizophrenia(F)),Population (historical estimates)
1,1,Afghanistan,AFG,1990,0.244067,0.216095,12412311.0
2,2,Afghanistan,AFG,1991,0.24322,0.215034,13299016.0
3,3,Afghanistan,AFG,1992,0.242345,0.213969,14485543.0
4,4,Afghanistan,AFG,1993,0.241464,0.212914,15816601.0
5,5,Afghanistan,AFG,1994,0.240599,0.211887,17075728.0